.flex-container{
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
}

.flex-container > div{
    margin: 10px;
    border: 10px solid orange;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: content-box;
}

.flex-menus{
  display: flex;
  flex-direction: row;  
}